jenkins:
    build: .
    ports:
        - "8080:8080"
    links:
        - dev:dev
        - seleniumhub:seleniumhub
    volumes:
        - www:/var/www
web:
    image: php:5.6-apache
    ports:
        - "8000:80"
    volumes:
        - www:/var/www/html
dev:
    image: php:5.6-apache
    volumes:
        - dev-www:/var/www/html
seleniumhub:
    image: selenium/hub