jenkins:
    build: .
    ports:
        - "8080:8080"
    volumes:
        - jenkins_home:/var/jenkins_home
        - www:/var/www
web:
    image: php:5.6-apache
    ports:
        - "8000:80"
    volumes:
        - www:/var/www/html
dev:
    image: php:5.6-apache
    volumes:
        - dev-www:/var/www/html
